<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/metro/3.0.15/css/metro-icons.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top jga">
    <div class="container-fluid">
    <div class="navbar-header pull-left">

        <a href="#/developer/{{model.developerId}}/website/{{model.websiteId}}/page"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
    </div>
        <div class="nav-sidebar col-sm-3 hidden-xs">
            <div class="navbar-header pull-left">
                <a class="navbar-brand"> My Site- Page {{model.website.name}} </a>
            </div>

    <div class="navbar-text pull-right">
        <a href="#">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
        </div>

        <div class="col-sm-5">
            <div class="navbar-header pull-left">
                <a class="navbar-brand">
                    FlowChart
                </a>
            </div>
        </div>
</div>
</nav>

<div ng-if="model.error"
     class="alert alert-danger"
     role="alert">
    {{model.error}}
</div>

<div class="container-fluid">
    <!--<div class="col-sm-4 hidden-xs" style="margin-left:15px; margin-top: 50px; padding-top: 15px; margin-bottom: 50px; position: absolute;top: 0px;bottom: 0px;overflow: auto;z-index: 2;">-->
    <div class="col-sm-3 hidden-xs"  style="position:absolute; top:0px; left:0px; bottom: 0px;z-index: 2;border-right: 1px solid gray;">
        <h2>Tools</h2>

        <!--Issue id : FLOW-108
            Added flow tools: page, action, and decision blocks to left hand side -->
        <div class="img-thumbnail mx-auto">
            <img class="img-responsive" src="images/document1.png" alt="...">
            <h3 jga-draggable class="tool page">Page</h3>
        </div>
        <div class="img-thumbnail mx-auto">
            <img class="img-responsive" src="images/action1.png" alt="...">
            <h3 jga-draggable class="tool action">Action</h3>
        </div>
        <div class="img-thumbnail mx-auto">
            <img class="img-responsive" src="images/decision1.png" alt="...">
            <h3 jga-draggable class="tool conditional">Decision</h3>
        </div>
    </div>


    <div jga-droppable class="col-sm-8 pull-right" style="padding-left: 30px;padding-right: 0px;">
    <!--<div jga-droppable class="col-sm-9 pull-right" style="overflow: hidden;position:absolute; bottom: 0px; top: 0px; right: 0px;">-->
        <div ng-repeat="node in model.nodes"
             style="position: absolute; top:{{node.y}}px; left:{{node.x}}px;"
             class="panel panel-primary">
            <div class="panel-heading">{{node.name}}</div>
            <div class="panel-body">
                <img ng-src="images/document1.png" ng-if="node.type === 'PAGE'"/>
                <img ng-src="images/action1.png" ng-if="node.type === 'ACTION'"/>
                <img ng-src="images/decision1.png" ng-if="node.type === 'CONDITIONAL'"/>
            </div>
        </div>




        <!--Issue id : FLOW-118
            Draw Arrows for Existing Diagram from database -->
            <div>
            <svg xmlns="http://www.w3.org/2000/svg"
                 height="3200px" width="3200px">
                <defs style="position: absolute; z-index: 9999999">
                    <marker
                            id="arrow" markerWidth="10" markerHeight="10"
                            refX="0" refY="3" orient="auto" markerUnits="strokeWidth" viewBox="0 0 15 15">
                        <path d="M0,0 L0,6 L9,3 z" fill="#f00" />
                    </marker>
                </defs>

                <line ng-repeat="connection in model.connections"
                      x1="{{model.drawPretty(connection.from, connection.to)[0]}}"
                      y1="{{model.drawPretty(connection.from, connection.to)[1]}}"
                      x2="{{model.drawPretty(connection.from, connection.to)[2]}}"
                      y2="{{model.drawPretty(connection.from, connection.to)[3]}}"
                      stroke="#000" stroke-width="5" marker-end="url(#arrow)" style="z-index: -9999999">
                </line>
                </svg>
        </div>


        </div>

</div>



<nav class="navbar navbar-default navbar-fixed-bottom jga">
    <div class="navbar-header">
        <a ng-click="model.toggleView()"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-th" ng-show="model.viewType == 'list'"></span>
            <span class="glyphicon glyphicon-th-list" ng-show="model.viewType == 'grid'"></span>
        </a>
    </div>
</nav>
</body>
